.new-tab{
    height:2em;
}
.number-slider{
    display: inline-block;
    height:24px;
}

.new-button{
    margin-left:10px;
    width:32px;
    height:32px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
}

.new-button:hover,
.new-button.active{
    background-color: #EBD0EC;
}
.dialog-header{
    display: flex;
}
.dialog-header h6 {
    margin:0;
    flex-grow: 1;
}
.dialog-header button{
    border:none;
    background-color: white;
}
.dialog-footer{
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
}