

canvas {position: absolute; left: 0; top: 0;}
canvas, .title, .identity {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	--view-height: 100vh;
	--nav-height: 60px;
}

.FlexWrapper {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}

.FloatLeft {float: left;}
.FloatRight {float: right;}

.app {height: 100%;}
.Wrapper {position: relative; overflow: hidden; height: calc(var(--view-height) - var(--nav-height));}
.Wrapper::before {content: ""; position: absolute; width: 100%; height: 100%; transform-origin: 0 0; transform: matrix(1, 0, 0, 1, 0, 0); background-image: url("/images/papers/paper_02.jpg");}

.menu > div {padding: 20px; background-color: white; display: inline-block;}
.title {position: absolute; top: 0; right: 0; margin-right: 20px;}
.identity {position: absolute; bottom: 0; left: 0; margin-left: 20px;}

.raster .VectorPart {display: none;}
.vector .RasterPart {display: none;}

.vector.raster .VectorPart {display: inline-block;}
.vector.raster .RasterPart {display: inline-block; margin-left: 30px;}

.raster .PureVector {display: none !important;}

.Overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.Dialog {width: 60%; height: 90%; min-width: 600px; background-color: white; border: 1px solid gray;}

.Dialog .View {margin: 0 10px;}
.Dialog .View .Group {margin-top: 5px;}
.Dialog .View .Parent {margin-left: 50px;}
.Dialog .View table td:last-child {width: 200px;}

.Dialog .tabs-line + div {overflow-y: auto;}

table {width: 100%; border-collapse: collapse;}
.Dialog .knowledge-graph thead th {width: 33%; background-color: #CCC;}
.Dialog .knowledge-graph table th,
.Dialog .knowledge-graph table td {border: 1px solid gray;}

.tabs .text-segmentation-view .tab-content.text-segmentation-view {display: block;}
.tabs .semantics-view .tab-content.semantics-view {display: block;}
.tabs .knowledge-graph .tab-content.knowledge-graph {display: block;}
